@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  margin-inline: 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  @apply w-[6px] h-[12px];
}
::-webkit-scrollbar-track {
  @apply bg-slate-300;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-xl;
}
